html{
    height: 100%;
    width: 100%;
    background-image: url("../images/DSC1143.jpg");
    background-size: cover;
    background-repeat: repeat;
    color:white;
}

h1{ 
    text-transform: uppercase;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-weight: normal;
    font-size: 2.5rem;
    /* background:rgb(0,0,0);   */
    /* background: transparent\9;   */
    background:rgba(0,0,0,0.4);  
}


header {
    position: relative;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/dark-honeycomb.png');
    /* background: black; */
    opacity: .6;
    content: "";
    z-index: -1;
}