html{
    height: 100%;
    width: 100%;
    background-image: url("../images/DSC1143.jpg");
    background-size: cover;
    background-repeat: repeat;
    color:#E8E8E8;
}
body{
    height: 100%;
    width: 100%;
}

h1{ 
    text-transform: uppercase;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-weight: normal;
    font-size: 2.5rem;
    width: 75%;
    margin: auto;
}


header {
    padding: 1.6rem 0;
    position: relative;
}

header::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/ep_naturalblack.png');
    background-repeat: repeat;
    /* background: black; */
    opacity: .6;
    content: "";
    z-index: -1;
}


#quizMain{
    width: 75%;
    height: auto;
    margin: auto;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    position: relative;
    color: #414141;
    display: none;
}
#startDiv{
    margin-top: 2rem;
}


#quizMain::before {
    margin-top: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../images/white-waves.png');
    background-repeat: repeat;
    /* background: black; */
    opacity: .6;
    content: "";
    z-index: -1;
    
}
main{
    text-align: center;
    width: 100%;
    height: 100%;
}

#start{
    /* margin-top: 13rem; */
    font-size: 3rem;
    border-radius: 60px;
    height:4rem;
    width: 10rem;
    color: #414141;
    border: none;
    background: rgb(255,255,255,.5);
    padding-bottom: 3rem;
    overflow: hidden;

}
#start:hover{
    background: rgb(200,200,200,.5);
    transition: height 2s, width 2s,padding-bottom 2s,opacity 2s;
    
}
#start.active{
    height:50rem;
    width: 100%;
    padding-bottom: 30rem;
    overflow: hidden;
    opacity: 0;
}


h4{
    margin: 0.5rem;
}
h3{
    font-size:2rem;
}
.choiceItem{
    cursor: pointer;
}
.choiceItem:hover{
    color: black;
}

.imgfit{
    max-width: 90%;
}

